<h1> Olá Mundo</h1>

<h3>Terminei a segunda parte</h3>
<H1>Novo botão</H1>

<h2>Teste do merge</h2>
<h3>Entendido o conceito de Branch e Merge</h3><br><br>
<h3>Para criar uma Branch é muito simples, basta usar o comando git checkout -b e o nome da Branch</h3><br>para voltar para Branch principal a master, bastar usar o comando git checkout e o nome master.

<H3>O conceito de Mergiar ou merge você usa o comando git merge e o nome da Branch que você ira espelhar, ou adicionar em sua Branch master</H3>